// 1 rem = fontSize px
// 1 px = ( 1 / fontSize) rem 
$fontSize: 37.5;
@function px2rem($px) {
    @return ($px / $fontSize)+rem;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin ellipsis2($line) {
    // 显示两行，多余的隐藏并用省略号显示
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}